---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>hello user </h1>
			<p>
				WElcome to the blog page of <a href="nayan135.com.np">NAYAN ACHARYA</a>
			</p>
			<p>
				OK so in this i am just gonna write something that i want to write and randomly make it public.
			</p>
			<p>BUt will always hope that noone reads it :hehe:</p>
			
		</main>
		<Footer />
	</body>
</html>
